# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store


# DotEnv configuration
.env

# vimf files
*.swp
*.swo

# Database files
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

